@import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');



.Gallery-Container-ss{



  height: auto;
  width: 100vw;
}


.Gallery-HeroSection {

  height: 50vh;
  width: 100vw;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../Images/Gallery/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;

}


.Head-Hero{
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 158px;
 margin-top: 70px;
 width: 300px;

}

.Hero-Heading{

  color: #FFF;

/* Heading/Niramit/Niramit */
font-family: Niramit;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 5px;
}

.Hero-info{

  color: var(--Background, #FFF);
/* Body/body */
font-family: Niramit;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 500px;
margin-top: 0px;

}


.left-img-cont{
  width: ;
}