
.gallery-container{

font-family: Amita;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
}
.gallery-title{
  font-family: Amita;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
align-items: center;

}

/* .image-cont1{
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 50%;
}

.image-cont2{
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 50%;
}
.right-img-cont{
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  width:10px;
  height: 10px;
}

.gallery-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
} */


.gallery-image-container {
display: flex;
margin: 0 auto;
  width: 90vw;
  border: 2px solid black;
  flex-wrap:wrap;
}

.image-cont1, .image-cont2 ,.image-cont3 , .image-cont4{
display: flex;
width: 600px;
flex-wrap: ;
}

.right-img-cont {

}

/* .image-cont1 img,
.image-cont2 img,
.right-img-cont img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
} */

/* .right-img-cont img {
  width: 48%;
} */

.img1{
  width: 30%;

}

.img2, .img3 {
  width: calc(50% - 5px); 
}

.img4 {
  width: 100%;
}


.img11{
  width: 40%;
}

.img22, .img33 {
  width: calc(50% - 5px); 
}

.img44 {
  width: 100%;
}


.img111{
width: 40%;
/* height: 30px; */
  
}

.img222, .img333 {
 width: 155px;
 max-height: 100px;
}

.img444 {

 width: 320px;
 margin-top: -10px;
}


/* .right-bottom-img{
  width: 100%;
} */


.right-img-cont img {
  height: auto;
  object-fit: cover;
  border-radius: 8px; 
}


