.AboutUs-Container{
  height: 100vh;
  width: 100vw;
  
}

.Aboutus-HeroSection{
  display: flex;

  background: url("../../Images/library.png") , no-repeat;
 height: 30vw;
 width: 100vw;
 background-size: cover;
 color: white;

  
}


.Aboutus-HeroSection .bhasha{
  margin-top: 100px;
  margin-left: 100px;
}


.Aboutus-HeroSection .Likhit-img{
  height: 20vw;
  margin-top: 5vw;
}


.Aboutus-HeroSection .middle-cont{
display: flex;
height: 100px;
margin-top: 20px;
border: 2px solid white;
margin-top: 100px;


}


.Aboutus-HeroSection .sahitya{
  display: flex;
border: 2px solid red;
  font-size: 1vw;


  color: white;
}



.Aboutus-HeroSection .book-pages{


  height: 2vw;
  margin-bottom: 10vw;


}