.AboutUs-Container{
  height: 100vh;
  width: 100vw;
  
}

.Aboutus-HeroSection{
  display: flex;
flex-direction: row;
  background: url("../../Images/library.png") , no-repeat;
 height: 70vh;
 width: 100vw;
 background-size: cover;
 color: white;

  
}


.Aboutus-HeroSection .bhasha{
  margin-top: 100px;
  margin-left: 100p;
}