.karyaSangra-Container{
  height: auto;
  width: 100vw;
}

.KaryaSangra-heading{
  font-size: 30px;
}

.KaryaSangra-heading span {
  color:orange;
}

.Img-Container{
   display: flex;
   flex-direction: column;
   k
}