.karyaSangra-Container{
  height: auto;
  width: 100vw;
}

.KaryaSangra-heading{
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap:10px;
  margin-bottom: 100px;
}

.KaryaSangra-heading span {
  color:orange;
}

.Img-Container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap:50px;
   margin-bottom: 100px;
}

.img-box{
  height: 40vh;

}