.Karyakari-Container {
height: 100vh;
width: 100vw;
background-color: white;


}


.Karyakari-heading{
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.Karyakari-heading span{
  color: orange;
}

.Karyakri-table{
  display:flex ;
  justify-content: center;
}

.Karyakri-table td{
margin-left: 400px;
}