.karyaSangra-Container{
  height: auto;
  width: 100vw;
  
}

.KaryaSangra-heading{
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: row;
  gap: 10px;
  width: 500px;
  
 
  margin: 0 auto; /* <-- This centers it horizontally */
  

  /* Heading/Niramit/Niramit */
  font-family: Niramit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-weight: bold;
  margin-top: 0px;
}

.KaryaSangra-heading span {
  color:orange;
}

.Img-Container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap:50px;
   margin-bottom: 100px;
}

.img-box{
  height: 40vh;

}