.Niyonit-Container{
  height: auto;
  width: 100vw;
  position: relative;
}

.Niyojit-head{
  display: flex;
justify-content: center;
gap:10px;
font-size: 30px;
}

.Niyojit-head span{
  color: orange;
}

.Niyojit-card{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 20px;
}

.Niyojit-card h2 {

  display: flex;
  justify-content: center;
}

.Niyojit-card p {
  display: block;         /* default for <p>, no need flex */
  margin: 0 auto;          /* center the <p> itself */
      /* make the text start from the left */
  width: fit-content;      /* shrink-wrap the <p> around its content */
}

.Niyojit-Cards-1{
width: 40vw;
background-image: url("../Images/Card1.png");
background-repeat: no-repeat;
background-size:40vw 45vh;
height: 45vh;
color: white;



}

.Niyojit-Cards-2{

  width: 40vw;
  background: url("../Images/Card2.png");
  background-repeat: no-repeat;
  background-size:40vw 45vh;
  height: 45vh;
  color: white;
  
  
}

.Niyojit-Cards-3{

  width: 40vw;
  height: 40vh;
  background: url("../Images/Card3.png");
  background-repeat: no-repeat;
  background-size:40vw 45vh;
  height: 45vh;
  color: white;
  

  
}

.Niyojit-Cards-4{

  width: 40vw;
  background: url("../Images/Card4.png");
  background-repeat: no-repeat;
  background-size:40vw 45vh;
  height: 45vh;
  color: white;
  
}