.Niyonit-Container{
  height: auto;
  width: 100vw;
  position: relative;
}

.Niyojit-head{
  display: flex;
justify-content: center;
gap:10px;
font-size: 30px;
}

.Niyojit-head span{
  color: orange;
}

.Niyojit-card{
  display: flex;
  fle
}