.Udistay-Container{
  height: 100vh;
  width: 100vw;
 
}

.Udistay-heading span{
  color:orange;
  font-size: 30px;

}


.Udistay-heading{
  display: flex;
  justify-content: center;
  font-size: 30px;
  gap: 10px;

}

.Mukhya-Udistay{
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}


.Mukhya-Udistay h3  {
  font-size: 30px;
  font-weight: 400;
}